
.ipynb_checkpoints/switchbounce-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
input.jpg
switch.csv
switchbounce/bin/Debug/switchbounce.exe
switchbounce/obj/Debug/main.o
toggle.csv
toggle/bin/Debug/toggle.exe
toggle/toggle.depend
*.o
toggle_output.csv
toggle_output.jpg
lampu-geser/edge.csv
lampu-geser/edge.jpg
lampu-geser/bin/Debug/lampu-geser.exe
lampu-geser/geser.csv
lampu-geser/geser.jpg
lampu-geser/debounce.csv
lampu-geser/integrasi.csv
lampu-geser/integrasi.jpg
lampu-geser/.ipynb_checkpoints/visualize-checkpoint.ipynb
lampu-geser/debouncer.jpg
pintu-analisis/images/pintu_0001.png
pintu-analisis/images/pintu_0002.png
pintu-analisis/images/pintu_0003.png
pintu-analisis/images/pintu_0004.png
pintu-analisis/images/pintu_0005.png
pintu-analisis/images/pintu_0006.png
pintu-analisis/images/pintu_0007.png
pintu-analisis/images/pintu_0008.png
pintu-analisis/images/pintu_0009.png
pintu-analisis/images/pintu_0010.png
pintu-analisis/images/pintu_0011.png
pintu-analisis/images/pintu_0012.png
pintu-analisis/images/pintu_0013.png
pintu-analisis/images/pintu_0014.png
pintu-analisis/images/pintu_0015.png
pintu-analisis/images/pintu_0016.png
pintu-analisis/images/pintu_0017.png
pintu-analisis/images/pintu_0018.png
pintu-analisis/images/pintu_0019.png
pintu-analisis/images/pintu_0020.png
pintu-analisis/images/pintu_0021.png
pintu-analisis/images/pintu_0022.png
pintu-analisis/images/pintu_0023.png
pintu-analisis/images/pintu_0024.png
pintu-analisis/images/pintu_0025.png
pintu-analisis/images/pintu_0026.png
pintu-analisis/images/pintu_0027.png
pintu-analisis/images/pintu_0028.png
pintu-analisis/images/pintu_0029.png
pintu-analisis/images/pintu_0030.png
pintu-analisis/images/pintu_0031.png
pintu-analisis/images/pintu_0032.png
pintu-analisis/images/pintu_0033.png
pintu-analisis/images/pintu_0034.png
pintu-analisis/images/pintu_0035.png
pintu-analisis/images/pintu_0036.png
pintu-analisis/images/pintu_0037.png
pintu-analisis/images/pintu_0038.png
pintu-analisis/images/pintu_0039.png
pintu-analisis/images/pintu_0040.png
pintu-analisis/images/pintu_0041.png
pintu-analisis/images/pintu_0042.png
pintu-analisis/images/pintu_0043.png
pintu-analisis/images/pintu_0044.png
pintu-analisis/images/pintu_0045.png
pintu-analisis/images/pintu_0046.png
pintu-analisis/images/pintu_0047.png
pintu-analisis/images/pintu_0048.png
pintu-analisis/images/pintu_0049.png
pintu-analisis/images/pintu_0050.png
pintu-analisis/images/pintu_0051.png
pintu-analisis/images/pintu_0052.png
pintu-analisis/images/pintu_0053.png
pintu-analisis/images/pintu_0054.png
pintu-analisis/images/pintu_0055.png
pintu-analisis/images/pintu_0056.png
pintu-analisis/images/pintu_0057.png
pintu-analisis/images/pintu_0058.png
pintu-analisis/images/pintu_0059.png
pintu-analisis/images/pintu_0060.png
pintu-analisis/images/pintu_0061.png
pintu-analisis/images/pintu_0062.png
pintu-analisis/images/pintu_0063.png
pintu-analisis/images/pintu_0064.png
pintu-analisis/images/pintu_0065.png
pintu-analisis/images/pintu_0066.png
pintu-analisis/images/pintu_0067.png
pintu-analisis/images/pintu_0068.png
pintu-analisis/images/pintu_0069.png
pintu-analisis/images/pintu_0070.png
pintu-analisis/images/pintu_0071.png
pintu-analisis/images/pintu_0072.png
pintu-analisis/images/pintu_0073.png
pintu-analisis/images/pintu_0074.png
pintu-analisis/images/pintu_0075.png
pintu-analisis/images/pintu_0076.png
pintu-analisis/images/pintu_0077.png
pintu-analisis/images/pintu_0078.png
pintu-analisis/images/pintu_0079.png
pintu-analisis/images/pintu_0080.png
pintu-analisis/images/pintu_0081.png
pintu-analisis/images/pintu_0082.png
pintu-analisis/images/pintu_0083.png
pintu-analisis/images/pintu_0084.png
pintu-analisis/images/pintu_0085.png
pintu-analisis/images/pintu_0086.png
pintu-analisis/images/pintu_0087.png
pintu-analisis/images/pintu_0088.png
pintu-analisis/images/pintu_0089.png
pintu-analisis/images/pintu_0090.png
pintu-analisis/images/pintu_0091.png
pintu-analisis/images/pintu_0092.png
pintu-analisis/images/pintu_0093.png
pintu-analisis/images/pintu_0094.png
pintu-analisis/images/pintu_0095.png
pintu-analisis/images/pintu_0096.png
pintu-analisis/images/pintu_0097.png
pintu-analisis/images/pintu_0098.png
pintu-analisis/images/pintu_0099.png
pintu-analisis/images/pintu_0100.png
pintu-analisis/images/pintu_0101.png
pintu-analisis/images/pintu_0102.png
pintu-analisis/images/pintu_0103.png
pintu-analisis/images/pintu_0104.png
pintu-analisis/images/pintu_0105.png
pintu-analisis/images/pintu_0106.png
pintu-analisis/images/pintu_0107.png
pintu-analisis/images/pintu_0108.png
pintu-analisis/images/pintu_0109.png
pintu-analisis/images/pintu_0110.png
pintu-analisis/images/pintu_0111.png
pintu-analisis/images/pintu_0112.png
pintu-analisis/images/pintu_0113.png
pintu-analisis/images/pintu_0114.png
pintu-analisis/images/pintu_0115.png
pintu-analisis/images/pintu_0116.png
pintu-analisis/images/pintu_0117.png
pintu-analisis/images/pintu_0118.png
pintu-analisis/images/pintu_0119.png
pintu-analisis/images/pintu_0120.png
pintu-analisis/images/pintu_0121.png
pintu-analisis/images/pintu_0122.png
pintu-analisis/images/pintu_0123.png
pintu-analisis/images/pintu_0124.png
pintu-analisis/images/pintu_0125.png
pintu-analisis/images/pintu_0126.png
pintu-analisis/images/pintu_0127.png
pintu-analisis/images/pintu_0128.png
pintu-analisis/images/pintu_0129.png
pintu-analisis/images/pintu_0130.png
pintu-analisis/images/pintu_0131.png
pintu-analisis/images/pintu_0132.png
pintu-analisis/images/pintu_0133.png
pintu-analisis/images/pintu_0134.png
pintu-analisis/images/pintu_0135.png
pintu-analisis/images/pintu_0136.png
pintu-analisis/images/pintu_0137.png
pintu-analisis/images/pintu_0138.png
pintu-analisis/images/pintu_0139.png
pintu-analisis/images/pintu_0140.png
pintu-analisis/images/pintu_0141.png
pintu-analisis/images/pintu_0142.png
pintu-analisis/images/pintu_0143.png
pintu-analisis/images/pintu_0144.png
pintu-analisis/images/pintu_0145.png
pintu-analisis/images/pintu_0146.png
pintu-analisis/images/pintu_0147.png
pintu-analisis/images/pintu_0148.png
pintu-analisis/images/pintu_0149.png
pintu-analisis/images/pintu_0150.png
pintu-analisis/images/pintu_0151.png
pintu-analisis/images/pintu_0152.png
pintu-analisis/images/pintu_0153.png
pintu-analisis/images/pintu_0154.png
pintu-analisis/images/pintu_0155.png
pintu-analisis/images/pintu_0156.png
pintu-analisis/images/pintu_0157.png
pintu-analisis/images/pintu_0158.png
pintu-analisis/images/pintu_0159.png
pintu-analisis/images/pintu_0160.png
pintu-analisis/images/pintu_0161.png
pintu-analisis/images/pintu_0162.png
pintu-analisis/images/pintu_0163.png
pintu-analisis/images/pintu_0164.png
pintu-analisis/images/pintu_0165.png
pintu-analisis/images/pintu_0166.png
pintu-analisis/images/pintu_0167.png
pintu-analisis/images/pintu_0168.png
pintu-analisis/images/pintu_0169.png
pintu-analisis/images/pintu_0170.png
pintu-analisis/images/pintu_0171.png
pintu-analisis/images/pintu_0172.png
pintu-analisis/images/pintu_0173.png
pintu-analisis/images/pintu_0174.png
pintu-analisis/images/pintu_0175.png
pintu-analisis/images/pintu_0176.png
pintu-analisis/images/pintu_0177.png
pintu-analisis/images/pintu_0178.png
pintu-analisis/images/pintu_0179.png
pintu-analisis/images/pintu_0180.png
pintu-analisis/images/pintu_0181.png
pintu-analisis/images/pintu_0182.png
pintu-analisis/images/pintu_0183.png
pintu-analisis/images/pintu_0184.png
pintu-analisis/images/pintu_0185.png
pintu-analisis/images/pintu_0186.png
pintu-analisis/images/pintu_0187.png
pintu-analisis/images/pintu_0188.png
pintu-analisis/images/pintu_0189.png
pintu-analisis/images/pintu_0190.png
pintu-analisis/images/pintu_0191.png
pintu-analisis/images/pintu_0192.png
pintu-analisis/images/pintu_0193.png
pintu-analisis/images/pintu_0194.png
pintu-analisis/images/pintu_0195.png
pintu-analisis/images/pintu_0196.png
pintu-analisis/images/pintu_0197.png
pintu-analisis/images/pintu_0198.png
pintu-analisis/images/pintu_0199.png
pintu-analisis/images/pintu_0200.png
pintu-analisis/images/pintu_0201.png
pintu-analisis/images/pintu_0202.png
pintu-analisis/images/pintu_0203.png
pintu-analisis/images/pintu_0204.png
pintu-analisis/images/pintu_0205.png
pintu-analisis/images/pintu_0206.png
pintu-analisis/images/pintu_0207.png
pintu-analisis/images/pintu_0208.png
pintu-analisis/images/pintu_0209.png
pintu-analisis/images/pintu_0210.png
pintu-analisis/images/pintu_0211.png
pintu-analisis/images/pintu_0212.png
pintu-analisis/images/pintu_0213.png
pintu-analisis/images/pintu_0214.png
pintu-analisis/images/pintu_0215.png
pintu-analisis/images/pintu_0216.png
pintu-analisis/images/pintu_0217.png
pintu-analisis/images/pintu_0218.png
pintu-analisis/images/pintu_0219.png
pintu-analisis/images/pintu_0220.png
pintu-analisis/images/pintu_0221.png
pintu-analisis/images/pintu_0222.png
pintu-analisis/images/pintu_0223.png
pintu-analisis/images/pintu_0224.png
pintu-analisis/images/pintu_0225.png
pintu-analisis/images/pintu_0226.png
pintu-analisis/images/pintu_0227.png
pintu-analisis/images/pintu_0228.png
pintu-analisis/images/pintu_0229.png
pintu-analisis/images/pintu_0230.png
pintu-analisis/images/pintu_0231.png
pintu-analisis/images/pintu_0232.png
pintu-analisis/images/pintu_0233.png
pintu-analisis/images/pintu_0234.png
pintu-analisis/images/pintu_0235.png
pintu-analisis/images/pintu_0236.png
pintu-analisis/images/pintu_0237.png
pintu-analisis/images/pintu_0238.png
pintu-analisis/images/pintu_0239.png
pintu-analisis/images/pintu_0240.png
pintu-analisis/images/pintu_0241.png
pintu-analisis/images/pintu_0242.png
pintu-analisis/images/pintu_0243.png
pintu-analisis/images/pintu_0244.png
pintu-analisis/images/pintu_0245.png
pintu-analisis/images/pintu_0246.png
pintu-analisis/images/pintu_0247.png
pintu-analisis/images/pintu_0248.png
pintu-analisis/images/pintu_0249.png
pintu-analisis/images/pintu_0250.png
pintu-analisis/images/pintu_0251.png
pintu-analisis/images/pintu_0252.png
pintu-analisis/images/pintu_0253.png
pintu-analisis/images/pintu_0254.png
pintu-analisis/images/pintu_0255.png
pintu-analisis/images/pintu_0256.png
pintu-analisis/images/pintu_0257.png
pintu-analisis/images/pintu_0258.png
pintu-analisis/images/pintu_0259.png
pintu-analisis/images/pintu_0260.png
pintu-analisis/images/pintu_0261.png
pintu-analisis/images/pintu_0262.png
pintu-analisis/images/pintu_0263.png
pintu-analisis/images/pintu_0264.png
pintu-analisis/images/pintu_0265.png
pintu-analisis/images/pintu_0266.png
pintu-analisis/images/pintu_0267.png
pintu-analisis/images/pintu_0268.png
pintu-analisis/images/pintu_0269.png
pintu-analisis/images/pintu_0270.png
pintu-analisis/images/pintu_0271.png
pintu-analisis/images/pintu_0272.png
pintu-analisis/images/pintu_0273.png
pintu-analisis/images/pintu_0274.png
pintu-analisis/images/pintu_0275.png
pintu-analisis/images/pintu_0276.png
pintu-analisis/images/pintu_0277.png
pintu-analisis/images/pintu_0278.png
pintu-analisis/images/pintu_0279.png
pintu-analisis/images/pintu_0280.png
pintu-analisis/images/pintu_0281.png
pintu-analisis/images/pintu_0282.png
pintu-analisis/images/pintu_0283.png
pintu-analisis/images/pintu_0284.png
pintu-analisis/images/pintu_0285.png
pintu-analisis/images/pintu_0286.png
pintu-analisis/images/pintu_0287.png
pintu-analisis/images/pintu_0288.png
pintu-analisis/images/pintu_0289.png
pintu-analisis/images/pintu_0290.png
pintu-analisis/images/pintu_0291.png
pintu-analisis/images/pintu_0292.png
pintu-analisis/images/pintu_0293.png
pintu-analisis/images/pintu_0294.png
pintu-analisis/images/pintu_0295.png
pintu-analisis/images/pintu_0296.png
pintu-analisis/images/pintu_0297.png
pintu-analisis/images/pintu_0298.png
pintu-analisis/images/pintu_0299.png
pintu-analisis/images/pintu_0300.png
pintu-analisis/images/pintu_0301.png
pintu-analisis/images/pintu_0302.png
pintu-analisis/images/pintu_0303.png
pintu-analisis/images/pintu_0304.png
pintu-analisis/images/pintu_0305.png
pintu-analisis/images/pintu_0306.png
pintu-analisis/images/pintu_0307.png
pintu-analisis/images/pintu_0308.png
pintu-analisis/images/pintu_0309.png
pintu-analisis/images/pintu_0310.png
pintu-analisis/images/pintu_0311.png
pintu-analisis/images/pintu_0312.png
pintu-analisis/images/pintu_0313.png
pintu-analisis/images/pintu_0314.png
pintu-analisis/images/pintu_0315.png
pintu-analisis/images/pintu_0316.png
pintu-analisis/images/pintu_0317.png
pintu-analisis/images/pintu_0318.png
pintu-analisis/images/pintu_0319.png
pintu-analisis/images/pintu_0320.png
pintu-analisis/images/pintu_0321.png
pintu-analisis/images/pintu_0322.png
pintu-analisis/images/pintu_0323.png
pintu-analisis/images/pintu_0324.png
pintu-analisis/images/pintu_0325.png
pintu-analisis/images/pintu_0326.png
pintu-analisis/images/pintu_0327.png
pintu-analisis/images/pintu_0328.png
pintu-analisis/images/pintu_0329.png
pintu-analisis/images/pintu_0330.png
pintu-analisis/images/pintu_0331.png
pintu-analisis/images/pintu_0332.png
pintu-analisis/images/pintu_0333.png
pintu-analisis/images/pintu_0334.png
pintu-analisis/images/pintu_0335.png
pintu-analisis/images/pintu_0336.png
pintu-analisis/images/pintu_0337.png
pintu-analisis/images/pintu_0338.png
pintu-analisis/images/pintu_0339.png
pintu-analisis/images/pintu_0340.png
pintu-analisis/images/pintu_0341.png
pintu-analisis/images/pintu_0342.png
pintu-analisis/images/pintu_0343.png
pintu-analisis/images/pintu_0344.png
pintu-analisis/images/pintu_0345.png
pintu-analisis/images/pintu_0346.png
pintu-analisis/images/pintu_0347.png
pintu-analisis/images/pintu_0348.png
pintu-analisis/images/pintu_0349.png
pintu-analisis/images/pintu_0350.png
pintu-analisis/images/pintu_0351.png
pintu-analisis/images/pintu_0352.png
pintu-analisis/images/pintu_0353.png
pintu-analisis/images/pintu_0354.png
pintu-analisis/images/pintu_0355.png
pintu-analisis/images/pintu_0356.png
pintu-analisis/images/pintu_0357.png
pintu-analisis/images/pintu_0358.png
pintu-analisis/images/pintu_0359.png
pintu-analisis/images/pintu_0360.png
pintu-analisis/images/pintu_0361.png
pintu-analisis/images/pintu_0362.png
pintu-analisis/images/pintu_0363.png
pintu-analisis/images/pintu_0364.png
pintu-analisis/images/pintu_0365.png
pintu-analisis/images/pintu_0366.png
pintu-analisis/images/pintu_0367.png
pintu-analisis/images/pintu_0368.png
pintu-analisis/images/pintu_0369.png
pintu-analisis/images/pintu_0370.png
pintu-analisis/images/pintu_0371.png
pintu-analisis/images/pintu_0372.png
pintu-analisis/images/pintu_0373.png
pintu-analisis/images/pintu_0374.png
pintu-analisis/images/pintu_0375.png
pintu-analisis/images/pintu_0376.png
pintu-analisis/images/pintu_0377.png
pintu-analisis/images/pintu_0378.png
pintu-analisis/images/pintu_0379.png
pintu-analisis/images/pintu_0380.png
pintu-analisis/images/pintu_0381.png
pintu-analisis/images/pintu_0382.png
pintu-analisis/images/pintu_0383.png
pintu-analisis/images/pintu_0384.png
pintu-analisis/images/pintu_0385.png
pintu-analisis/images/pintu_0386.png
pintu-analisis/images/pintu_0387.png
pintu-analisis/images/pintu_0388.png
pintu-analisis/images/pintu_0389.png
pintu-analisis/images/pintu_0390.png
pintu-analisis/images/pintu_0391.png
pintu-analisis/images/pintu_0392.png
pintu-analisis/images/pintu_0393.png
pintu-analisis/images/pintu_0394.png
pintu-analisis/images/pintu_0395.png
pintu-analisis/images/pintu_0396.png
pintu-analisis/images/pintu_0397.png
pintu-analisis/images/pintu_0398.png
pintu-analisis/images/pintu_0399.png
pintu-analisis/images/pintu_0400.png
pintu-analisis/images/pintu_0401.png
pintu-analisis/images/pintu_0402.png
pintu-analisis/images/pintu_0403.png
pintu-analisis/images/pintu_0404.png
pintu-analisis/images/pintu_0405.png
pintu-analisis/images/pintu_0406.png
pintu-analisis/images/pintu_0407.png
pintu-analisis/images/pintu_0408.png
pintu-analisis/images/pintu_0409.png
pintu-analisis/images/pintu_0410.png
pintu-analisis/images/pintu_0411.png
pintu-analisis/images/pintu_0412.png
pintu-analisis/images/pintu_0413.png
pintu-analisis/images/pintu_0414.png
pintu-analisis/images/pintu_0415.png
pintu-analisis/images/pintu_0416.png
pintu-analisis/images/pintu_0417.png
pintu-analisis/images/pintu_0418.png
pintu-analisis/images/pintu_0419.png
pintu-analisis/images/pintu_0420.png
pintu-analisis/images/pintu_0421.png
pintu-analisis/images/pintu_0422.png
pintu-analisis/images/pintu_0423.png
pintu-analisis/images/pintu_0424.png
pintu-analisis/images/pintu_0425.png
pintu-analisis/images/pintu_0426.png
pintu-analisis/images/pintu_0427.png
pintu-analisis/images/pintu_0428.png
pintu-analisis/images/pintu_0429.png
pintu-analisis/images/pintu_0430.png
pintu-analisis/images/pintu_0431.png
pintu-analisis/images/pintu_0432.png
pintu-analisis/images/pintu_0433.png
pintu-analisis/images/pintu_0434.png
pintu-analisis/images/pintu_0435.png
pintu-analisis/images/pintu_0436.png
pintu-analisis/images/pintu_0437.png
pintu-analisis/images/pintu_0438.png
pintu-analisis/images/pintu_0439.png
pintu-analisis/images/pintu_0440.png
pintu-analisis/images/pintu_0441.png
pintu-analisis/images/pintu_0442.png
pintu-analisis/images/pintu_0443.png
pintu-analisis/images/pintu_0444.png
pintu-analisis/images/pintu_0445.png
pintu-analisis/images/pintu_0446.png
pintu-analisis/images/pintu_0447.png
pintu-analisis/images/pintu_0448.png
pintu-analisis/images/pintu_0449.png
pintu-analisis/images/pintu_0450.png
pintu-analisis/images/pintu_0451.png
pintu-analisis/images/pintu_0452.png
pintu-analisis/images/pintu_0453.png
pintu-analisis/images/pintu_0454.png
pintu-analisis/images/pintu_0455.png
pintu-analisis/images/pintu_0456.png
pintu-analisis/images/pintu_0457.png
pintu-analisis/images/pintu_0458.png
pintu-analisis/images/pintu_0459.png
pintu-analisis/images/pintu_0460.png
pintu-analisis/images/pintu_0461.png
pintu-analisis/images/pintu_0462.png
pintu-analisis/images/pintu_0463.png
pintu-analisis/images/pintu_0464.png
pintu-analisis/images/pintu_0465.png
pintu-analisis/images/pintu_0466.png
pintu-analisis/images/pintu_0467.png
pintu-analisis/images/pintu_0468.png
pintu-analisis/images/pintu_0469.png
pintu-analisis/images/pintu_0470.png
pintu-analisis/images/pintu_0471.png
pintu-analisis/images/pintu_0472.png
pintu-analisis/images/pintu_0473.png
pintu-analisis/images/pintu_0474.png
pintu-analisis/images/pintu_0475.png
pintu-analisis/images/pintu_0476.png
pintu-analisis/images/pintu_0477.png
pintu-analisis/images/pintu_0478.png
pintu-analisis/images/pintu_0479.png
pintu-analisis/images/pintu_0480.png
pintu-analisis/images.zip
pintu-analisis/.ipynb_checkpoints/analisis-pintu-checkpoint.ipynb
