
.ipynb_checkpoints/switchbounce-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
input.jpg
switch.csv
switchbounce/bin/Debug/switchbounce.exe
switchbounce/obj/Debug/main.o
toggle.csv
toggle/bin/Debug/toggle.exe
toggle/toggle.depend
*.o
toggle_output.csv
toggle_output.jpg
lampu-geser/edge.csv
lampu-geser/edge.jpg
lampu-geser/bin/Debug/lampu-geser.exe
lampu-geser/geser.csv
lampu-geser/geser.jpg
lampu-geser/debounce.csv
lampu-geser/integrasi.csv
